.app{
display:flex;
height:100vh;
font-family:Arial;
}

.sidebar{
width:220px;
border-right:1px solid #707070;
padding:10px;
}

.historyItem{
cursor:pointer;
padding:6px;
margin:4px 0;
background:#f2f2f2;
}

.chatContainer{
flex:1;
display:flex;
flex-direction:column;
padding:10px;
}

.messages{
flex:1;
overflow-y:auto;
}

.user{
text-align:right;
background:#ffffff;
margin:6px;
padding:8px;
border-radius:5px;
}

.bot{
text-align:left;
background:#ffffff;
margin:6px;
padding:8px;
border-radius:5px;
}

.inputArea{
display:flex;
gap:10px;
}